<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>beer</display-name>
  <servlet>
    <servlet-name>Ch3 beer</servlet-name>
    <servlet-class>com.example.web.BeerSelect</servlet-class>
    <init-param>
      <description>exam</description>
      <param-name>email</param-name>
      <param-value>wellington@gmail.com</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ch3 beer</servlet-name>
    <url-pattern>/selectBeer.do</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>jspInitTeste</servlet-name>
      <jsp-file>/result.jsp</jsp-file>
      <init-param>
          <param-name>email</param-name>
          <param-value>300@gmail.com</param-value>
      </init-param>
  </servlet>
  <servlet-mapping>
      <servlet-name>jspInitTeste</servlet-name>
      <url-pattern>/result.jsp</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>contextParamEmail</description>
    <param-name>email</param-name>
    <param-value>admin@gmail.com</param-value>
  </context-param>
  <context-param>
    <description>contextParamNome</description>
    <param-name>nome</param-name>
    <param-value>Wellington</param-value>
  </context-param>
  <listener>
    <description>ListenerUsuario</description>
    <listener-class>com.example.listener.MyServletContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.example.listener.BeerSessionCounter</listener-class>
  </listener>
  <listener>
      <listener-class>com.example.listener.BeerAttributeListener</listener-class>
  </listener>
  
  <jsp-config>
      <jsp-property-group>
          <url-pattern>*.jsp</url-pattern>
          <scripting-invalid>
              false
          </scripting-invalid>         
      </jsp-property-group>
      <jsp-property-group>
          <url-pattern>*.jsp</url-pattern>
           <el-ignored>
              false
          </el-ignored>
      </jsp-property-group>
  </jsp-config>
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>